#ignore data stored in data/ folder (but .gitkeep for structure)
src/data/*

#ignore models checkpoints
checkpoint_*
model_*
optim_*

#ignore pyc files
*.pyc

#large file
examples/real/Alleluia_Whitacre/alleluia_whitacre.wav
