#ignore data stored in data/ folder (but .gitkeep for structure)
src/data/*

#ignore model checkpoints
checkpoint_*

#ignore pyc files
*.pyc

#large file
examples/real/Alleluia_Whitacre/alleluia_whitacre.wav
